
<div class="container">
	<div class="row">
		<div class="table responsive">
		
		<table class="table">
			<thead>
				<tr>
					<th class="text-center">Foto</th>
					<th class="text-center">Nombre</th>
					<th class="text-center">Bio</th>
					<th class="text-center">Fecha de Nacimiento</th>
					<th class="text-center">Lugar de Nacimiento</th>
					<th class="text-center">Fecha y Lugar de Fallecimieno</th>
				</tr>	
			</thead>
			<tbody>
				<% @actors.each do |actor| %>
				<tr>
					<td class="text-center"><img src="<%= actor.image_url %>" width="100" height="100"></td>
					<td class="text-center"><%= actor.name %></td>
					<td class="text-center"><%= actor.bio %></td>
					<td class="text-center"><%= actor.birth_date%></td>
					<td class="text-center"><%= actor.birth_place%></td>
					<td class="text-center">
						<span><%= actor.alive == true  ? 'Esta vivo' :  actor.death_date %></span>	
						<span><%= actor.alive == true  ? '' :  actor.death_place %></span>	
					</td>
				</tr>
				<% end %>
				
			</tbody>
		</table>
			
		</div>
	</div>
</div>